  body {
            background: #f1f3f6;
        }

        .product-row:hover {
            background: #e9ecef;
            cursor: pointer;
        }

        .total-text {
            font-size: 32px;
            font-weight: bold;
            color: red;
        }